<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../css/ui-kit-styles.min.html">

<dom-module id="shopping-cart">
    <template>
        <style include="ui-kit-styles">
            :host { display: block; }
        </style>
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
            <div class="uk-badge uk-margin-bottom">Your Cart</div>
            <div class="uk-margin-small-bottom">
                <div hidden$="[[hasProducts]]">Please add some products to cart.</div>
                <template is="dom-repeat" items="[[cartItems]]" as="item">
                    <div>[[item.title]] - &euro;[[item.price]] x [[item.quantity]]</div>
                </template>
            </div>
            <div class="uk-margin-small-bottom">Total: &euro;[[cartTotal]]</div>
            <button class="uk-button uk-button-large uk-button-success uk-align-right"
                on-tap="_checkoutTapped"
                disabled$="[[!hasProducts]]">
                Checkout
            </button>
        </div>
    </template>
</dom-module>

<script>
Polymer({

    is: 'shopping-cart',

    properties: {

        cartItems: Object,
        cartTotal: Number,

        hasProducts: {
            type: Number,
            computed: '_computeHasProducts(cartItems.length)'
        }

    },

    _checkoutTapped: function() {

        if (!this.hasProducts) {
            return;
        }

        this.fire('checkout-cart', {
            items: this.cartItems
        });
    },

    _computeHasProducts: function(length) {

        return !!length;
    }
});
</script>
